[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
broadlink = "==0.14.1"
ifcfg = "==0.21"
cffi = "==1.14.2"
cryptography = "==3.1"
netaddr = "==0.8.0"
pycparser = "==2.20"
python-nmap = "==0.6.1"
six = "==1.15.0"

[dev-packages]

[requires]
python_version = "3.9"
